{% extends "blog/base.html" %}
{% block content %}
    <main class="main-content section-wrapper">
        <div class="section-content-wide">
        <div class="section-gap">

            {% if posts %}
            <div class="card-grid">
                {% for post in posts %}
                    {% include 'blog/partials/_post-card.html' with i=forloop.counter0 %}
                {% endfor %}
                </div>
            {% else %}
                <div class="not-found center">
                    <h1>Nada foi encontrado </h1>
                    <p>se preferir va para a <a href="{% url "index" %}">home</a></p>
                </div>
            {% endif %}

        </div>
        </div>
    </main>

{% endblock content %}
